@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.page {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Roboto, Times New Roman, serif;
    font-size: 22px;
    background: white;
}

.block {
    border-bottom: 1px solid #000000;
}


.button {
    width: 125px;
    height: auto;
    margin-left: 10px;
    padding: 10px;
    border-radius: 21px;
    background-color: inherit;
    color: black;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}


@media (max-width: 736px) {
    .page {
        font-size: 16px;
    }
}

    @media (hover: hover) {
        .button:hover {
            text-decoration: underline;
        }
    }